<section>
    <div class="row">
        <div class="col-12">
            <div class="content-title">
                Title
            </div>
            <div class="content-subtitle">
                SubTitle
            </div>
            <div class="content-subsubtitle">
                Sub-subTitle
            </div>
            <div class="content-body">
                Content
                {% include "components/button.njk" %}
            </div>
        </div>
    </div>
</section>