    <link rel="preload" data-id="relthis" href="/assets/css/bootstrap.min.css" as="style" onload="relthis();">
    <link rel="preload" data-id="relthis" href="/assets/css/styles.css" as="style" onload="relthis();" >
    <script>
      function relthis(){
        document.querySelectorAll('[data-id]').forEach(function(el){el.setAttribute('rel', 'stylesheet')});
      }
    </script>