<div class="block-quote">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto block-quote_icon">
                {{ content }}
            </div>
        </div>
    </div>
</div>