<section class="mt-6 {{class}}">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-8 d-flex flex-column text-center mx-auto">
                <div class="content-title mt-2 order-2">
                    <h1 class="headerTitle">{{ctitle}}</h1>
                </div>
                <div class="content-subtitle order-1">
                    <h2 class="headerSubtitle">{{subtitle}}</h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            {% for item in products %}
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="card card-reset card-blog background-light-gradient-main -invert">
                    <img src="/assets/images/min/{{item.image}}" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column justify-content-end ">
                        <div class="card-body_title">
                            <h3 class="headerTitle -medium mb-0">{{item.text}}</h3>
                        </div>
                        <div class="carb-body_link">
                            <a href="{{item.link.href}}" class="{{item.link.class}}">{{item.link.text}}</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>