<section class="mt-6 {{class}} blogs">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-8 d-flex flex-column text-center mx-auto">
                <div class="content-title mt-2 order-2">
                    <{{titleHtag}} class="headerTitle">{{ctitle}}</{{titleHtag}}>
                </div>
                <div class="content-subtitle order-1">
                    <{{subtitleHtag}} class="headerSubtitle -decor-vert -medium">{{subtitle}}</{{subtitleHtag}}>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            {%- for post in collections.post -%}
            <div class="col-12 col-md-6 mb-4">
                <div class="card card-reset card-blog background-light-mid-gradient-main -invert">
                    <img src="{{ post.data.thumbnail }}" class="card-img-top" alt="{{post.data.title}}" loading="lazy">
                    <div class="card-body d-flex flex-column justify-content-end p-5">
                        <div class="card-body_title">
                            <h3 class="headerTitle -medium mb-0 ">{{ post.data.title }}</h3>
                        </div>
                        <div class="carb-body_link">
                            <a href="/posts/{{ post.fileSlug }}/" class="btn btn-transparent btn-second">Read the article</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>