<section class="mt-6 {{class}}">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-8 d-flex flex-column text-center mx-auto">
                <div class="content-title mt-2 order-2">
                    <{{titleHtag}} class="headerTitle">{{ctitle}}</{{titleHtag}}>
                </div>
                <div class="content-subtitle order-1">
                    <{{subtitleHtag}} class="headerSubtitle -decor-vert -medium">{{subtitle}}</{{subtitleHtag}}>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            {% set headerHtag = 'p' %}
            {% include "components/cardItems.njk" %}
        </div>
    </div>
</section>