<section class="contact-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <a href="{{global.contact.maps}}" target="_blank" rel="noopener">
                    <picture>
                        <source media="(max-width: 500px)"
                            srcset="/assets/images/min/map.jpg">
                        <source media="(min-width: 501px)" 
                            srcset="/assets/images/min/map@2x.jpg">
                        <img src="/assets/images/min/map.jpg" loading="lazy" alt="caption" class="img-resp">
                    </picture>
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center d-flex flex-column my-5 ">
                <div class="content-title mt-2 order-2">
                    <h1 class="headerTitle">{{ctitle}}</h1>
                </div>
                <div class="content-subtitle order-1">
                    <h2 class="headerSubtitle -decor-vert -medium">{{subtitle | safe}}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11 col-md-4 mx-auto ml-md-0">
                <div class="card card-reset card-contact text-center m-2">
                    <div class="card-body m-0 p-4 p-md-5">
                        <div class="align-items-center car-title_wrapper d-flex mb-3 justify-content-center">
                            <img src="/assets/images/icons/notification.svg" loading="lazy">
                            <h3 class="-large -phone card-title d-flex headerTitle justify-content-center mb-0 ml-2">Send a Message</h3>     
                        </div>
                        <p class="card-text bodyContent">Let us know what product or service you are interested in</p>
                        <a href="mailto:{{global.contact.email}}" class="card-link btn-link btn-no-underline -medium">{{global.contact.email}}</a>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-4 mx-auto ml-md-0">
                <div class="card card-reset card-contact text-center m-2 shadow-lg">
                    <div class="card-body m-0 p-5">
                        <div class="align-items-center car-title_wrapper d-flex mb-3 justify-content-center">
                            <img src="/assets/images/icons/telephone.svg" loading="lazy">
                            <h3 class="-large -phone card-title d-flex headerTitle justify-content-center mb-0 ml-2">Make a call</h3>
                        </div>
                        <p class="card-text bodyContent">If you have any questions, call us and our sales specialist will help you.</p>
                        <a href="tel:{{global.contact.aiphone}}" class="card-link btn-link btn-no-underline -medium">{{global.contact.phone}}</a>
                    </div>
                </div>
            
            </div>
            <div class="col-11 col-md-4 mx-auto ml-md-0">
                <div class="card card-reset card-contact text-center m-2">
                    <div class="card-body m-0 p-4 p-md-5">
                        <div class="align-items-center car-title_wrapper d-flex mb-3 justify-content-center">
                            <img src="/assets/images/icons/map.svg" loading="lazy">
                            <h3 class="-large -phone card-title d-flex headerTitle justify-content-center mb-0 ml-2">Headquarters</h3>
                        </div>
                        <p class="card-text bodyContent">Our office is open from 8am to 5pm Monday through Friday</p>
                        <a href="{{global.contact.maps}}" class="card-link btn-link btn-no-underline -medium">{{global.contact.address | safe}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>