<section>
    <div class="row">
        <div class="{{class}}">
            <div class="content-title mt-2 order-2">
                <h1 class="headerTitle">{{ctitle}}</h1>
            </div>
            <div class="content-subtitle order-1">
                <h2 class="headerSubtitle">{{subtitle}}</h1>
            </div>
            {% if subsubtitle %}
            <div class="content-subsubtitle order-3">
                <span class="headerSubsubtitle">{{subsubtitle}}</h1>
            </div>
            {% endif %}
            <div class="content-body order-3 mt-4">
                <div class="bodyContent">{{body}}</h1>
                {% include "components/button.njk" %}
            </div>
        </div>
    </div>
</section>