<section>
    <div class="row">
        <div class="col-12">
            <div class="content-title">
                <h1 class="headerTitle">Title</h1>
            </div>
            <div class="content-subtitle">
                <h2 class="headerSubtitle">SubTitle</h1>
            </div>
            <div class="content-subsubtitle">
                <h1 class="headerSubsubtitle">Subsubtitle</h1>
            </div>
            <div class="content-body">
                <h1 class="bodyContent">Body content</h1>
                {% include "components/button.njk" %}
            </div>
        </div>
    </div>
</section>