<section class="contact-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <a href="https://g.page/aafabricators?share" target="_blank">
                    <picture>
                        <source media="(max-width: 500px)"
                            srcset="/assets/images/min/map.jpg">
                        <source media="(min-width: 501px)" 
                            srcset="/assets/images/min/map@2x.jpg">
                        <img src="/assets/images/min/map.jpg" loading="lazy" alt="caption" class="img-resp">
                    </picture>
                </a>

                {# <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3590.784536249263!2d-80.3180860845017!3d25.84364428359977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ba4c28c2ebef%3A0xab92064c9c529d8!2sAmerican%20Aluminum%20Fabricators!5e0!3m2!1sen!2sus!4v1600630190725!5m2!1sen!2sus"
                    frameborder="0" marginheight="0" marginwidth="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0" width="100%" height="300px"></iframe> #}

            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center d-flex flex-column my-5">
                <div class="content-title mt-2 order-2">
                    <h1 class="headerTitle">{{ctitle}}</h1>
                </div>
                <div class="content-subtitle order-1">
                    <h2 class="headerSubtitle -decor-vert">{{subtitle}}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11 col-md-4 mx-auto ml-md-0">
                <div class="card card-reset card-contact text-center m-2">
                    <div class="card-body m-0 p-5">
                        <div class="align-items-center car-title_wrapper d-flex mb-3 justify-content-center">
                            <img src="/assets/images/icons/notification.svg">
                            <h3 class="-large -phone card-title d-flex headerTitle justify-content-center mb-0 ml-2">Send a Message</h3>     
                        </div>
                        <p class="card-text bodyContent">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link btn-link">Card link</a>
                    </div>
                </div>
            </div>
            <div class="col-11 col-md-4 mx-auto ml-md-0">
                <div class="card card-reset card-contact text-center m-2 shadow-lg">
                    <div class="card-body m-0 p-5">
                        <div class="align-items-center car-title_wrapper d-flex mb-3 justify-content-center">
                            <img src="/assets/images/icons/telephone.svg">
                            <h3 class="-large -phone card-title d-flex headerTitle justify-content-center mb-0 ml-2">Make a call</h3>
                        </div>
                        <p class="card-text bodyContent">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link btn-link">Card link</a>
                    </div>
                </div>
            
            </div>
            <div class="col-11 col-md-4 mx-auto ml-md-0">
                <div class="card card-reset card-contact text-center m-2">
                    <div class="card-body m-0 p-5">
                        <div class="align-items-center car-title_wrapper d-flex mb-3 justify-content-center">
                            <img src="/assets/images/icons/map.svg">
                            <h3 class="-large -phone card-title d-flex headerTitle justify-content-center mb-0 ml-2">Our headquarters</h3>
                        </div>
                        <p class="card-text bodyContent">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link btn-link">Card link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>