<div class="cta-box bg-white">
    <div class="d-flex flex-column p-5 text-center">
        <div class="content-title mt-2 order-2">
            <{{titleHtag}} class="headerTitle">{{ctitle}}</{{titleHtag}}>
        </div>
        <div class="content-subtitle order-1">
            <{{subtitleHtag}} class="headerSubtitle">{{subtitle}}</{{subtitleHtag}}>
        </div>
        <div class="bodyContent order-3">
            <span class="bodyContent">{{body}}</span>
        </div>
        <div class="content-cta order-4 mt-4">
            {% set button= {text: 'Request a call', class: 'btn btn-primary', href: "tel:" + global.contact.aiphone } %}
            {% include "components/button.njk" %}
        </div>

    </div>
</div>