<footer class="mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex my-2">
                <img src="/assets/images/logo-footer-aaf.png" class="logo-footer" loading="lazy">  
            </div>
            <div class="-invert col-md-6 my-2 text-center text-md-right">
                <hr class="footer-break" />
                <span class="d-block"><a href="/" target="_blank">American Aluminum Fabricators</a></span>
                <span> © 2020. All Rights Reserved</span>
            </div>
        </div>
    </div>
</footer>