<footer class="mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="align-items-center d-flex justify-content-center justify-content-md-start list-unstyled">
                    <li class="listing_item">
                        <a class="footer-icon footer-facebook" href="{{global.social.facebook}}" title="Facebook" aria-label="Facebook" rel="noopener">
                            <img src="/assets/images/icons/facebook.svg" loading="lazy">
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="listing_item">
                        <a class="footer-icon footer-twitter" href="{{global.social.twitter}}" title="Twitter" aria-label="Twitter" rel="noopener">
                            <img src="/assets/images/icons/twitter.svg" loading="lazy">
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="listing_item">
                        <a class="footer-icon footer-youtube" href="{{global.social.youtube}}" title="Youtube" aria-label="Youtube" rel="noopener">
                            <img src="/assets/images/icons/youtube.svg" loading="lazy">
                            <span class="sr-only">Youtube</span>
                        </a>
                    </li>
                    <li class="listing_item">
                        <a class="footer-icon footer-instagram" href="{{global.social.google}}" title="Instagram" aria-label="Instagram" rel="noopener">
                            <img src="/assets/images/icons/google.svg" loading="lazy">
                            <span class="sr-only">Google</span>
                        </a>
                    </li>
                    <li class="listing_item">
                        <a class="footer-icon footer-blog" href="{{global.social.linkedin}}" title="Linkedin" aria-label="Linkedin" rel="noopener">
                            <img src="/assets/images/icons/linkedin.svg" loading="lazy">
                            <span class="sr-only">LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 d-flex justify-content-center my-2">
                <img src="/assets/images/logo-footer-aaf.png" class="logo-footer" loading="lazy" alt="Logo American Aluminum Fabricators">
            </div>
            <div class="-invert col-md-4 my-2 text-center text-md-right">
                <hr class="footer-break" />
                <span class="d-block"><a href="/" target="_blank">American Aluminum Fabricators</a></span>
                <span> © 2020. All Rights Reserved</span>
            </div>
        </div>
    </div>
</footer>