<div class="gallery-slick mt-4">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 mx-auto">
                <h1 class="-medium headerTitle mb-4">Product Gallery</h1>
            </div>
            <div class="col-10 col-md-8 mx-auto">
                <div class="gallery">
                    <div>
                        <a href="/assets/images/min/impact.jpg" data-lightbox="gallery">
                            <img src="/assets/images/min/impact.jpg" alt="" class="img-resp" loading="lazy" >
                        </a>
                    </div>
                    <div>
                        <a href="/assets/images/min/roof.jpg" data-lightbox="gallery">
                            <img src="/assets/images/min/roof.jpg" alt="" class="img-resp" loading="lazy" >
                        </a>
                    </div>
                    <div>
                        <a href="/assets/images/min/pergola.jpg" data-lightbox="gallery">
                            <img src="/assets/images/min/pergola.jpg" alt="" class="img-resp" loading="lazy" >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>