<div class="gallery-slick mt-4">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 mx-auto">
                <h1 class="-medium headerTitle mb-4">Product Gallery</h1>
            </div>
            <div class="col-10 col-md-8 mx-auto">
                <div class="gallery">
                    <div>
                        <a href="/assets/images/min/impact.jpg" data-lightbox="gallery">
                            <picture>
                                <source srcset="/assets/images/min/impact.jpg" media="(max-width:500px)">
                                <source srcset="/assets/images/min/impact@2x.jpg" media="(min-width:501px)">
                                <img src="/assets/images/min/impact.jpg" alt="..." loading="lazy" class="img-resp" >
                            </picture>
                        </a>
                    </div>
                    <div>
                        
                        <a href="/assets/images/min/roof.jpg" data-lightbox="gallery">
                            <picture>
                                <source srcset="/assets/images/min/roof.jpg" media="(max-width:500px)">
                                <source srcset="/assets/images/min/roof@2x.jpg" media="(min-width:501px)">
                                <img src="/assets/images/min/roof.jpg" alt="..." loading="lazy" class="img-resp" >
                            </picture>
                        </a>
                    </div>
                    <div>
                        <a href="/assets/images/min/pergola.jpg" data-lightbox="gallery">
                            <picture>
                                <source srcset="/assets/images/min/pergola.jpg" media="(max-width:500px)">
                                <source srcset="/assets/images/min/pergola@2x.jpg" media="(min-width:501px)">
                                <img src="/assets/images/min/pergola.jpg" alt="..." loading="lazy" class="img-resp" >
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>