<div class="headerItem">
    <div class="headerItem_figure">
        <figure>
            <img srcset="/assets/images/min/{{item.image}}.jpg 500w,
                            /assets/images/min/{{item.image}}@2x.jpg 1200w"
                    sizes="(max-width: 600px) 500px,
                         1200px"
                 src="/assets/images/min/{{item.image}}.jpg" 
                 class="card-img-top" alt="...">
        </figure>
    </div>
    <div class="headerItem_content">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="headerItem_wrapper">
                        <div class="headerTitle mb-3{% if invert %} -invert{% endif %}">
                            {{headerTitle}}
                        </div>
                        <div class="bodyContent{% if invert %} -invert{% endif %}">
                            {{ headerContent }}
                        </div>
                        {% if aside %}
                        <div class="asideButton">
                            {% set button= aside %}
                            {% include "components/button.njk" %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>