<div class="background-dark-gradient-main">
    <div class="headerItem header-inner">
        <div class="headerItem_figure">
             <picture>
                <source srcset="{{featureImage}}" media="(max-width:500px)">
                <source srcset="{{featureImage}}" media="(min-width:501px)">
                <img src="{{featureImage}}" alt="..." loading="lazy">
            </picture>
        </div>
        <div class="headerItem_content">
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="headerItem_wrapper">
                            <div class="headerTitle mb-3 -invert text-center">
                                {{ctitle}}
                            </div>
                            <div class="bodyContent -invert text-center">
                                <ul class="list-unstyled list-spaced justify-content-center">
                                    <li><a href="/" alt="homepage">Home</a></li>
                                    {% for item in breadcrumbs %}
                                        <li><a href="{{item.url}}" alt="{{item.title}}">{{item.title}}</a></li>    
                                    {% endfor %}
                                    <li>{{ctitle}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>