<div class="background-dark-gradient-main">
    <div class="headerItem">
        <div class="headerItem_figure">
            <picture>
                <img srcset="/assets/images/min/slider2.jpg 500w,
                            /assets/images/min/slider2@2x.jpg 1200w" sizes="(max-width: 500px) 500px,
                         1200px" src="/assets/images/min/slider2.jpg" alt="..." loading="lazy">
            </picture>
        </div>
        <div class="headerItem_content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <div class="headerItem_wrapper">
                            <div class="headerTitle mb-3 -invert text-center">
                                {{ctitle}}
                            </div>
                            <div class="bodyContent -invert text-center">
                               {{subtitle}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>