<nav class="navbar navbar-expand-lg navbar-light bg-white p-3 sticky-top shadow-lg">
    <div class="container"> 
        <a class="navbar-brand" href="/">
            <img src="/assets/images/logo-header-aaf.png" class="logo-header" alt="Logo American Aluminum Fabricators">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mt-5 mt-lg-0" id="navbarNavDropdown">
            {% set navPages = collections.all | eleventyNavigation %}
            {% import "macros/navigation.njk" as navigation %}

            <ul class="navbar-nav">
            {%- for entry in navPages %}{{ navigation.renderNavListItem(entry, page) }}{%- endfor -%}
            </ul>
 
            <div class="navbar-footer mx-4 mt-5 d-lg-none">
                <div class="card card-reset m-2">
                    <div class="card-body card-body m-0 px-0 pb-2">
                        <img src="/assets/images/icons/telephone.svg" loading="lazy">
                        <a href="#" class="card-link btn-link btn-no-underline -medium -dark">(786) 542-1650</a>
                        <p class="card-text bodyContent mt-2">If you have any questions, call us and our sales specialist will help you.</p>
                    </div>
                </div>
                <div class="card card-reset m-2">
                    <div class="card-body card-body m-0 px-0 pt-2">
                        <img src="/assets/images/icons/map.svg" loading="lazy">
                        <a href="#" class="card-link btn-link btn-no-underline -medium -dark">7275 NW 77TH St,<br> Medley Fl 33166</a>
                        <p class="card-text bodyContent mt-2">Our office is open from 8am to 5pm Monday through Friday</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>