<nav class="navbar navbar-expand-lg navbar-light bg-white p-3 sticky-top shadow-lg">
    <div class="container"> 
        <a class="navbar-brand" href="/">
            <img src="/assets/images/logo-header-aaf.png" class="logo-header" alt="Logo American Aluminum Fabricators">
        </a>
        <span class="navbar-text">
            <span class="headerSubtitle -medium text-secondary d-block">Call us </span>
            <a href="tel:{{global.contact.aiphone}}" class="card-link btn-link btn-no-underline -large">{{global.contact.phone}}</a>
        </span>
    </div>
</nav>