<div class="styled-list">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 d-flex flex-column mx-auto">
                {% if ctitle %}
                    <h2 class="headerTitle -medium pb-4 -invert">{{ctitle}}</h2>
                {% endif %}
                <ol>
                    {% for item in items %}                    
                        <li>{{item | safe}}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>