<section class="testimonial background-light-gradient-main py-6">
    <div class="container">
        <div class="row mb-4">
            <div class="col-11 d-flex flex-column col-md-6 offset-md-5">
                <div class="content-title mt-2 order-2">
                    <h1 class="headerTitle -invert">“ Quality Service & Excellent work!”</h1>
                </div>
                <div class="content-subtitle order-1">
                    <h2 class="headerSubtitle -light -decor-hoz -medium">testimonials</h1>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-11 col-md-6 offset-md-5">
                <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testim">
                                <div class="testim_content mb-5">
                                    <p class="font-italic -invert">I had a great experience. I called on Thursday and they went next day and by the end of the weekend I had the shutters installed. I was not able to be at the house, but that didn’t make a difference because I was in contact with then the hole time. I will definitely recommend them to everyone I know.</p>
                                </div>
                                <div class="testim_rate">
                                    <div class="rate_name font-weight-bold -invert mb-2">
                                        Giselle Fernandez  
                                    </div>
                                   <div class="rate_stars -five">
                                        <span class="sr-only">5 stars</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="carousel-item">
                            <div class="testim">
                                <div class="testim_content mb-5">
                                    <p class="font-italic -invert">By the end of the weekend I had the shutters installed. I was not able to be at the house, but that didn’t make a difference because I was in contact with then the hole time. I will definitely recommend them to everyone I know.</p>
                                </div>
                                <div class="testim_rate">
                                    <div class="rate_name font-weight-bold -invert mb-2">
                                        Andrew Gonzalez  
                                    </div>
                                    <div class="rate_stars -five">
                                        <span class="sr-only">5 stars</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                         <div class="carousel-item">
                            <div class="testim">
                                <div class="testim_content mb-5">
                                    <p class="font-italic -invert">I called on Thursday and they went next day and by the end of the weekend I had the shutters installed. I was not able to be at the house, but that didn’t make a difference because I was in contact with then the hole time. I will definitely recommend them to everyone I know.</p>
                                </div>
                                <div class="testim_rate">
                                    <div class="rate_name font-weight-bold -invert mb-2">
                                        Peter Ross  
                                    </div>
                                    <div class="rate_stars -five">
                                        <span class="sr-only">5 stars</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev d-md-flex d-none" href="#testimonialCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next d-md-flex d-none" href="#testimonialCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11 col-md-6 offset-md-5">
                <a href="#" class="btn btn-transparent btn-second">All testimonials</a>
            </div>
        </div>
    </div>
</section>