<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!-- preconnecting -->
    {% include "components/critical-inline-styles.njk" %}

    <title>AAF - Bizmarketing.us</title>
    
  </head>
  <body>
    
      {% include "components/navbar.njk" %}
    
      {%- block content %}
          {{ content | safe }}
      {%- endblock %}

      {% include "components/footer.njk" %}
    <!-- Styles -->
      {% include "components/asyncCss.njk" %}
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="/assets/js/jquery-3.5.1.slim.min.js"></script>
    <!--<script src="/assets/js/popper.min.js"></script>-->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- add fonts -->
       <script>
          ( function() {
            var youtube = document.querySelectorAll( ".youtube" );
            for (var i = 0; i < youtube.length; i++) {             
                // var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";          
                var source = "/assets/images/min/ytb.jpg";          
                var image = new Image();
                        image.src = source;
                        image.setAttribute('loading', 'lazy');
                        image.addEventListener( "load", function() {
                            youtube[ i ].appendChild( image );
                        }( i ) );
                        youtube[i].addEventListener( "click", function() {

                            var iframe = document.createElement( "iframe" );

                                    iframe.setAttribute( "frameborder", "0" );
                                    iframe.setAttribute( "allowfullscreen", "" );
                                    iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );

                                    this.innerHTML = "";
                                    this.appendChild( iframe );
                        } );    
            };
            
        } )();
      </script>
      <script>
        $('#carouselExampleControls').carousel({
          interval: 6000
        });
        $('#testimonialCarousel').carousel({
          interval: 14000
        });
        function normalizeSlideHeights() {
          $('.carousel[data-js="normalize-height"]').each(function(){
              var items = $('.carousel-item', this);
              // reset the height
              items.css('min-height', 0);
              // set the height
              var maxHeight = Math.max.apply(null, 
                  items.map(function(){
                      return $(this).outerHeight()}).get() );
              items.css('min-height', maxHeight + 'px');
            })
        }

         function normalizeEllipsisLinks(){
          let emailLink = $('.btn-ellipsis');
          if (emailLink.length){
              let parentElement = $(emailLink).parent();
              let parentWidth = parentElement.width();
              $(emailLink).css('width', parentWidth);
          }
        };

        $(window).on( 'load resize orientationchange', normalizeSlideHeights);
        $(window).on( 'load resize orientationchange', normalizeEllipsisLinks);

      </script>
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
          });
        }
        </script>
  </body>
</html>