<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- preconnecting -->
    <link rel='preconnect' href='//img.youtube.com' />
    <link rel='preconnect' href='//maps.gstatic.com' />
    <link rel='preconnect' href='//maps.googleapis.com' />
    <link rel='dns-prefetch' href='//img.youtube.com' />
    <link rel='dns-prefetch' href='//maps.gstatic.com' />
    <link rel='dns-prefetch' href='//maps.googleapis.com' />
    <link rel="preload" href="/assets/fonts/source-sans-pro-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/source-sans-pro-v14-latin-regular.woff" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/martel-v5-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/martel-v5-latin-regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald-v35-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald-v35-latin-regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald-v35-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/oswald-v35-latin-500.woff" as="font" type="font/woff" crossorigin>
    {% include "components/critical-inline-styles.njk" %}

    <title>AAF - Bizmarketing.us</title>
  </head>
  <body>
    
      {% include "components/navbar.njk" %}
    
      {%- block content %}
          {{ content | safe }}
      {%- endblock %}

      {% include "components/footer.njk" %}
    <!-- Styles -->
    {% include "components/asyncCss.njk" %}
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!--  Slick slider -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css"/>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.gallery').slick({
          dots: true,
          infinite: false,
          speed: 300,
          slidesToShow: 2,
          slidesToScroll: 2,
          responsive: [
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
        });
      });
    </script>
    <!-- end slick slider -->
    <!-- Lightbox -->
    <link href="/assets/lightbox/css/lightbox.css" rel="stylesheet" />
    <script src="/assets/lightbox/js/lightbox.js"></script>
    <!-- End lightbox -->
    <!-- add fonts -->
   
      <script>
          ( function() {
            var youtube = document.querySelectorAll( ".youtube" );
            for (var i = 0; i < youtube.length; i++) {             
                var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";          
                var image = new Image();
                        image.src = source;
                        image.setAttribute('loading', 'lazy');
                        image.addEventListener( "load", function() {
                            youtube[ i ].appendChild( image );
                        }( i ) );
                        youtube[i].addEventListener( "click", function() {

                            var iframe = document.createElement( "iframe" );

                                    iframe.setAttribute( "frameborder", "0" );
                                    iframe.setAttribute( "allowfullscreen", "" );
                                    iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );

                                    this.innerHTML = "";
                                    this.appendChild( iframe );
                        } );    
            };
            
        } )();
      </script>
      <script>
        $('#carouselExampleControls').carousel({
          interval: 6000
        });
        $('#testimonialCarousel').carousel({
          interval: 14000
        });
        function normalizeSlideHeights() {
          $('.carousel[data-js="normalize-height"]').each(function(){
              var items = $('.carousel-item', this);
              // reset the height
              items.css('min-height', 0);
              // set the height
              var maxHeight = Math.max.apply(null, 
                  items.map(function(){
                      return $(this).outerHeight()}).get() );
              items.css('min-height', maxHeight + 'px');
            })
        }

        $(window).on( 'load resize orientationchange', normalizeSlideHeights);
        
      </script>
  </body>
</html>