---
  tags: post
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- preconnecting -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    {% include "components/critical-inline-styles.njk" %}

    <title>AAF - Bizmarketing.us</title>
  </head>
  <body>
    
      {% include "components/navbar.njk" %}
      <section class="hero">
        {% set ctitle= title %}
        {% set navPages = collections.all | eleventyNavigationBreadcrumb("Blog") %}
        {% set breadcrumbs=navPages %}
        {% set featureImage=thumbnail %}
        {% set staticPath={ url: '/posts/', text: 'Blogs', alt: 'All posts'}%}
        {% include "components/hero-inner.njk" %}
    </section>
      <article>
      <div class="container">
        <div class="row">
          <div class="col-11 col-md-7 mt-5 mx-auto mx-md-0 col-lg-8">
            <div class="bodyContent -dark  px-md-4 posts">
            {%- block content %}
                {{ content | safe }}
            {%- endblock %}
            </div>
          </div>
          
          <div class="col-11 col-md-5 col-lg-4 mt-5 mx-auto mx-md-0">
            <h3 class="headerSubtitle -decor-hoz -medium">Also consider</h3>
            <h4 class="headerTitle -medium">Related articles</h4>
            <div class="row">
             {%- for post in collections.post -%}
              {% if post.fileSlug !== page.fileSlug %}
                <div class="col-12 mb-4">
                  <div class="card card-reset card-blog card-blog-related background-light-gradient-main -invert">
                      <img src="{{ post.data.thumbnail }}" class="card-img-top" alt="..." loading="lazy">
                      <div class="card-body d-flex flex-column justify-content-end">
                          <div class="card-body_title">
                            <h3 class="headerTitle -small mb-0 "><a href="/posts/{{ post.fileSlug }}/" class="-invert">{{ post.data.title }}</a></h3>
                          </div>
                      </div>
                  </div>
              </div>
              {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
        </div>
      </article>
      
      {% include "components/footer.njk" %}
    <!-- Styles -->
    {% include "components/asyncCss.njk" %}
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="/assets/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- add fonts -->
    
      <script>
          ( function() {
            var youtube = document.querySelectorAll( ".youtube" );
            for (var i = 0; i < youtube.length; i++) {             
                var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";          
                var image = new Image();
                        image.src = source;
                        image.setAttribute('loading', 'lazy');
                        image.addEventListener( "load", function() {
                            youtube[ i ].appendChild( image );
                        }( i ) );
                        youtube[i].addEventListener( "click", function() {

                            var iframe = document.createElement( "iframe" );

                                    iframe.setAttribute( "frameborder", "0" );
                                    iframe.setAttribute( "allowfullscreen", "" );
                                    iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );

                                    this.innerHTML = "";
                                    this.appendChild( iframe );
                        } );    
            };
            
        } )();
      </script>
      <script>
        $('#carouselExampleControls').carousel({
          interval: 6000
        });
        $('#testimonialCarousel').carousel({
          interval: 14000
        });
        function normalizeSlideHeights() {
          $('.carousel[data-js="normalize-height"]').each(function(){
              var items = $('.carousel-item', this);
              // reset the height
              items.css('min-height', 0);
              // set the height
              var maxHeight = Math.max.apply(null, 
                  items.map(function(){
                      return $(this).outerHeight()}).get() );
              items.css('min-height', maxHeight + 'px');
            })
        }

        $(window).on( 'load resize orientationchange', normalizeSlideHeights);
        
      </script>
  </body>
</html>