:root {
  --main-color: #212471;
  --main-color-light: #0F70A4;
  --main-color-lightest: #9DBEE1;
  --main-color-mega-lightest: #EEF4FA;
  --gray-color: #656565;
  --secondary-color: #FFDD00;
  --body-color-dark: #3b444c;
  --body-color: #758799;
  --small-space: 10px;
  --medium-space: 20px;
  --large-space: 40px;
  --xlarge-space: 60px;
  --xl-large-space: 80px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
  text-transform: none
}

.img-resp{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list-spaced{
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.list-spaced > li:not(:last-child):after{
  content: "/";
  margin: 0 5px;
  display: inline-block;
}
.list-spaced > li{
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 1.5em;
  position: relative;
  color: white;
}
.list-spaced > li > a{
  color: var(--secondary-color);
}

/* Dropdown animated */
/* .dropdown-animated .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1,0);
  display: block;
} 
.dropdown-animated:hover .dropdown-menu {
  transform: scale(1);
} */
.dropdown-item.active, .dropdown-item:active{
  background: transparent;
}

.headerSubtitle.-medium{
  font-size: 15px;
}

.mt-6{
  margin-top: 90px;
}
.pt-6{
  padding-top: 90px;
}
.py-6{
  padding-top: 90px;
  padding-bottom: 90px;
}
/*       Heading styles          */
/********************************/

.headerTitle {
  font-family: "Martel", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.27;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -1.7px;
  font-size: 2rem;
}
.headerTitle.-dark {
  color: #212529;
}
.headerTitle.-small {
  font-size: 1rem;
  letter-spacing: 0;
}
.headerTitle.-medium {
  font-size: 1.3rem;
  letter-spacing: 0;
}
.headerTitle.-large {
  font-size: 1.2rem;
  letter-spacing: 0;
}
.headerTitle.-huge {
  font-size: 3rem;
  letter-spacing: 0;
}

.-invert {
  color: white !important;
}

.headerSubtitle{
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 1.5em;
  position: relative;
  color: var(--main-color-light);
}
.headerSubtitle.-medium{
  font-size: 15px;
}
.headerSubtitle.-decor-hoz{
  padding-left: 40px;
}
.headerSubtitle.-decor-hoz:before{
  content: '';
  height: 2px;
  width: 22px;
  background-color: var(--main-color-light);
  position: absolute;
  top: 8px;
  left: 12px;
}
.headerSubtitle.-decor-hoz.-light:before,
.headerSubtitle.-decor-hoz.-light:after{
  background-color: var(--main-color-lightest);
}
.headerSubtitle.-decor-hoz:after{
  content: '';
  height: 2px;
  width: 33px;
  background-color: var(--main-color-light);
  position: absolute;
  top: 13px;
  left: 1px;

}

.headerSubtitle.-decor-vert:before{
  content: '';
  height: 22px;
  width: 2px;
  background-color: var(--main-color-light);
  position: absolute;
  top: -26px;
  left: 50%;

}
.headerSubtitle.-decor-vert:after{
  content: '';
  height: 33px;
  width: 2px;
  background-color: var(--main-color-light);
  position: absolute;
  top: -37px;
  left: calc(50% - 5px);

}

.headerSubtitle.-invert {
  color: white;
}

.headerSubtitle.-light {
  color: var(--main-color-lightest);
}

.headerSubsubtitle {}

.bodyContent {
  color: var(--body-color);
}
.bodyContent.-dark {
  color: var(--body-color-dark);
}

/* background color and gradients *
***********************************/

.background-dark-gradient-main,
.background-dark-gradient-9-main,
.background-light-gradient-main {
  position: relative;
}

.background-dark-gradient-main:before,
.background-dark-gradient-9-main:before,
.background-light-gradient-main:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.background-dark-gradient-9-main:before {
  background: rgb(32, 39, 119);
  background: linear-gradient(180deg, rgba(32, 39, 119, 0.9) 0%, rgba(16, 20, 60, 1) 100%);
}

.background-dark-gradient-main:before {
  background: rgb(32, 39, 119);
  background: linear-gradient(180deg, rgba(32, 39, 119, 0.70) 0%, rgba(16, 20, 60, 1) 100%);
}

.background-light-gradient-main:before {
  background: rgb(32, 39, 119);
  background: linear-gradient(180deg, rgba(32, 39, 119, 0.6) 0%, rgba(16, 20, 60, 1) 140%);
}

.back-main-light{
  background-color: var(--main-color-mega-lightest);
}
@media (max-width: 767.9px){
  .back-main-light-sm{
    background-color: var(--main-color-mega-lightest);
  }
}

/* hero slider and heroes */

@media (min-width: 768px){
  .homeCarousel {
    height: 560px;
  }  
}
@media (max-width: 767.98px){
  .homeCarousel {
    height: 450px;
  }  
}

.homeCarousel .carousel-inner,
.homeCarousel .carousel-inner .carousel-item {
  height: 100%;
}

@media (max-width: 767.98px){
  .homeCarousel .carousel-control-prev,
  .homeCarousel .carousel-control-next{
    display: none; 
  }
}

.simple-carousel .carousel-control-next-icon, 
.simple-carousel .carousel-control-prev-icon {
  background-color: var(--main-color)
}

/* Navigation component */
  .logo-header{
    width: 140px;
  }

  .navbar .navbar-toggler{
    border-color: transparent;
    outline: 0;
  }
  @media (max-width: 991.9px){
    .navbar .navbar-collapse{
      height: 100vh;
      padding-top: 25px;
      text-align: center;
    }
    /* .navbar .collapsing {
        -webkit-transition: none !important;
        transition: none !important;
        display: none !important;
    } */
  }

  .navbar .navbar-footer .card-body > img{
      width: 20px;
      display: block;
      margin: 0 auto 15px auto;
      filter: invert(21%) sepia(51%) saturate(6235%) hue-rotate(187deg) brightness(92%) contrast(88%);
  }
  .navbar .navbar-footer{
    border-top: 1px solid var(--main-color);
}
  

/* Header Item component */
.headerItem {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.headerItem {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px){
  .headerItem {
    align-items: flex-end;
  }
}
.headerItem_wrapper{
  padding: 40px 40px 70px;
}
.header-inner .headerItem_wrapper{
  padding: 85px 20px;
}
@media (min-width: 768px){
  .headerItem_wrapper{
      text-align: center;
  }
  .header-inner .headerItem_wrapper{
    padding: 120px 20px;
  }
}

.headerItem_content {

  z-index: 2;
}
.headerItem_content .bodyContent:not(:last-child) {
  margin-bottom: var(--large-space);
}

.headerItem_figure{
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;  
}
.headerItem_figure picture,
.headerItem_figure picture>img {
  height: 100%;
}
@media (min-width: 1024px){
  .headerItem_figure picture,
  .headerItem_figure picture>img {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 480px){
  .header-inner .headerItem_figure picture,
  .header-inner .headerItem_figure picture>img {
    height: auto;
    width: 100%;
  }
}

.headerItem_figure,
.headerItem_figure picture {
  overflow: hidden;
}

.headerItem_figure picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Content 1 compomnent */
.content-grid{
	display: grid;
	grid-template-rows: 50px 100px 50px 100px 50px;
	grid-auto-columns: calc(50% - 20px);
	grid-auto-rows: 40px;
	grid-auto-flow: row;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.content-grid .item{
  display: block;
  overflow: hidden;
}
.content-grid .item > img{
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}
.content-grid .item-1{
	grid-column: 1 / 2; 
	grid-row: 1 / 4;
}
.content-grid .item-2{
	grid-column: 2 / 3; 
	grid-row: 2 / 3;
}

.content-grid .item-3{
	grid-column: 1 / 2; 
	grid-row: 4 / 5
}
.content-grid .item-4{
	grid-column: 2 / 3; 
	grid-row: 3 / 6;
}
@media (min-width: 1024px){
  .section-content1{
    margin-top: 70px !important;
  }
}

/* Buttons */
.btn{
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  border-color: transparent;
  border-radius: 0;
  text-transform: uppercase;
  min-width: 160px;
  padding: 14px 66px 14px 14px;
  text-align: left;
}
.btn:after{
  content: '⟶';
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 20px;
}
.btn-primary{
  background-color: var(--secondary-color);
  color: black;
  letter-spacing: 2px;
  line-height: 1;
}

.btn-transparent{
  padding-left: 0;
}

.btn-link{ 
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 1.5em;
    position: relative;
    color: var(--main-color-light) !important;
    text-decoration: underline;

}
.btn-link.-dark{ 
  color: var(--main-color) !important;
}
.btn-link.-medium{
  font-size: 1rem;
}
.btn-link.btn-no-underline{ 
  text-decoration: none;
}
.btn.btn-second{
  color: var(--secondary-color);
}
/* Footer */

footer{
  background-color: var(--main-color);
  font-size: 12px;
}
footer a{
  color: var(--secondary-color);
}
footer .listing_item:not(:last-child){
  margin-right: 10px;
}
.footer-icon{
  width: 35px;
  height: 35px;
  display: inline-flex;
  background-color: rgba(245,245,246,0.1);
  padding: 10px;
}
.footer-icon img{
  width: 100%;
  filter: invert(1);
}
.footer-break{
  border-top: 1px solid rgb(243 243 243 / 0.3);
}
@media (min-width: 768px){
  .footer-break{
    display: none;
  }
}
.logo-footer{
  width: 120px;
}
@media (max-width: 767.98px){
  .d-block-small{
    display: block;
  }
}


/*   Card styles **/
.card-reset{
  border: none;
  background: none;
}
.card-reset img{
  border-radius: 0;
}
.card-reset .card-body{
  margin: -20px 20px 0;
  padding: 40px 20px 30px;
}
.card-reset.card-blog{
  margin: 0;
}
.card-blog .card-body{
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.card-blog.card-blog-related{
  max-height: 125px;
  overflow: hidden;
}



/* Why us */
.whyus{
  background-image: url('/assets/images/min/slider2@2x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.whyus .wrapper {
    /* max-width: 680px;
    margin: 60px auto;
    padding: 0 20px; */
}

.whyus .youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.whyus .youtube img {
    width: 100%;
    top: -16.82%;
    left: 0;
    opacity: 0.7;
}
.whyus .youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.whyus .youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.whyus .youtube img,
.whyus .youtube .play-button {
    cursor: pointer;
}
.whyus .youtube img,
.whyus .youtube iframe,
.whyus .youtube .play-button,
.whyus .youtube .play-button:before {
    position: absolute;
}
 .whyus .youtube .play-button,
 .whyus .youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.whyus .youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}




/* testimonials */
.testimonial{
  background-image: url('/assets/images/min/slider1@2x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px){
  .testimonial >.container >.row{
    margin: 0 auto;
  }
}

.rate_stars:before{
  content: '';
  background-image: url(/assets/images/icons/star.svg);
  height: 12px;
  display: block;
  background-size: contain;
  max-width: 60px;
}
.rate_stars.-five{
  width: 60px;
}
.rate_stars.-four{
  width: 48px;
}
.rate_stars.-three{
  width: 36px;
}
.rate_stars.-two{
  width: 24px;
}
.rate_stars.-one{
  width: 12px;
}
@media (min-width: 768px){
  .testimonial .carousel-control-next{
    right: -90px;
  }
}

@media (min-width: 768px){
  .testimonial .carousel-control-prev{
    left: -90px;
  }
}
 

/* Contact section */
.contact-section .car-title_wrapper > img{
  width: 20px;
    margin-bottom: 5px;
    filter: invert(21%) sepia(51%) saturate(6235%) hue-rotate(187deg) brightness(92%) contrast(88%);
}

/* Styled List */
.styled-list{
  position: relative;
  padding: 60px 0;
  margin: 30px 0;
}
@media (min-width: 768px){
  .styled-list{
 
    background-image: url('/assets/images/min/slider1@2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
}
@media (max-width: 767.98px){
  .styled-list{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-image: url('/assets/images/min/slider1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
}
.styled-list:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgb(32, 39, 119);
  background: linear-gradient(180deg, rgba(32, 39, 119, 0.70) 0%, rgba(16, 20, 60, 1) 100%);
}

.styled-list ol, .styled-list ul{
  list-style-type: none;
  margin: 0;
  padding-left:0;
  color: var(--main-color-mega-lightest);
}

.styled-list ol li, .styled-list ul li{
  position: relative;
  padding-left: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 1.5em;
  position: relative;
}
.styled-list ol li:not(:last-child), .styled-list ul li:not(:last-child){
  margin-bottom: 10px;
}

.styled-list ol li:before, .styled-list ul li:before{
    content: '';
    width: 5px;
    height: 5px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 2px;
    top: 10px;
}

/* Styled List */
.block-quote{
  position: relative;
  padding: 85px 0 60px;
  margin: 30px 0;
  color: var(--secondary-color);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 1.5em;
}
@media (min-width: 768px){
  .block-quote{
    background-image: url('/assets/images/min/slider1@2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
}
@media (max-width: 767.98px){
  .block-quote{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-image: url('/assets/images/min/slider1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
}
.block-quote:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgb(32, 39, 119);
  background: linear-gradient(180deg, rgba(32, 39, 119, 0.70) 0%, rgba(16, 20, 60, 1) 100%);
}
.block-quote_icon:before{
  content: '”';
  position: absolute;
  width: 42px;
  height: 45px;
  top: -50px;
  left: 10px;
  display: block;
  line-height: 1;
  font-size: 80px;
  color: white;

}

/* Blogs */
.bodyContent.posts{
  /* line-height: 1; */
}
@media (min-width: 768px){
  .bodyContent.posts{
    margin-top: 60px;
  }
}


.bodyContent.posts ul,.bodyContent.posts ol{
  padding-left: 25px;
}
.bodyContent.posts ul li{
  list-style-type: square;
  margin-bottom: 15px;
}
.bodyContent.posts ol li{
  margin-bottom: 15px;
}
.bodyContent.posts.h1,
.bodyContent.posts.h2,
.bodyContent.posts.h3,
.bodyContent.posts.h4,
.bodyContent.posts.h5,
.bodyContent.posts.h6,
.bodyContent.posts h1,
.bodyContent.posts h2,
.bodyContent.posts h3,
.bodyContent.posts h4,
.bodyContent.posts h5,
.bodyContent.posts h6 {
  margin: 1.6rem 0;
  font-weight: 500;
  line-height: 1.2;
}
.blogs .card-reset img{
  min-height: 270px;
}
@media (min-width: 768px){
  .blogs .card-reset img{
    height: 300px;
  }
}
.card-reset.card-blog-related a{
  border-bottom: 3px solid var(--secondary-color);
  text-decoration: none;
  display: inline-block;
}

li.list-white:before{
  content: '';
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  display: inline-flex;
  margin-right: 20px;
}

li.list-ivory:before{
  content: '';
  width: 40px;
  height: 40px;
  background-color: #ede2c0;
  border: 1px solid black;
  display: inline-flex;
  margin-right: 20px;
}

li.list-beige:before{
  content: '';
  width: 40px;
  height: 40px;
  background-color: #9e8c72;
  border: 1px solid black;
  display: inline-flex;
  margin-right: 20px;
}

li.list-bronze:before{
  content: '';
  width: 40px;
  height: 40px;
  background-color: #301a0b;
  border: 1px solid black;
  display: inline-flex;
  margin-right: 20px;
}


