---
  layout: layouts/inner.njk
  title: About Us
  permalink: about-us/
  date: Last Modified
  eleventyNavigation:
    key: About Us
    order: 4
---
<div class="hero">
    {% set ctitle= 'About us' %}
    {% set featureImage='/assets/images/min/slider1.jpg' %}
    {% include "components/hero-inner.njk" %}
</div>
    <!-- Section Intro -->
    {% set class='col-10 col-md-5 d-flex flex-column mx-auto' %}
    {% set ctitle= 'Aluminum & Impact Glass Experts' %}
    {% set titleHtag= 'h1' %}
    {% set subtitleHtag= 'h2' %}
    {% set subtitle='American Aluminum Fabricators' %}
    {% set body='<p class="">American Aluminum Fabricators Corp. American Aluminum Fabricators Corp. provides you with exceptional service and high-quality aluminum products to achieve your home improvement project in no time. We take your idea and make it a reality whether for your home or business offering 100% guarantee on our products and fast turn-around. Among others
    we provide:</p><p><ul class=\"mb-5 mt-4\"><li class=\"btn-link -dark text-decoration-none\"><a href="/products/impact-windows-and-doors/" title="High Impact Windows/Doors">High Impact Windows/Doors</a></li><li class=\"btn-link -dark text-decoration-none\"><a href="/products/metal-roofing/" title="aluminum metal roofs">Metal Roofing</a></li><li class=\"btn-link -dark text-decoration-none\"><a href="/products/accordion-hurricane-shutters/" title="Accordion Hurricane Shutters">Accordion Hurricane Shutters</a></li><li class=\"btn-link -dark text-decoration-none\"><a href="/products/aluminum-pergolas/" title="Aluminum Railings/Decks/Pergolas">Aluminum Railings/Decks/Pergolas</a></li><li class=\"btn-link -dark text-decoration-none\"><a href="/products/seamless-rain-gutters/" title="Seamless Rain Gutters">Seamless Rain Gutters</a></li><li class=\"btn-link -dark text-decoration-none\"><a href="#" title="Glass Shower Enclosures">Glass Shower Enclosures</a></li></ul></p>' %}
    {% include "components/content1.njk" %}  
    <!-- end section intro -->

    <!-- Section Intro -->
    {% set sectionClass='back-main-light pb-5 pt-md-5' %}
    {% set class='col-10 col-md-5 d-flex flex-column mx-auto' %}
    {% set ctitle= 'Our mission' %}
    {% set subtitle='American Aluminum Fabricators' %}
    {% set body='<p class="mb-5">American Aluminum Fabricators Corp. has always been ready and willing to embrace any project. Our original core values include: integrity, quality, commitment and innovation. Those values determine the way we work, the quality we offer, and the unsurpassed treatment you get as a customer, investor, employee. <i class="font-weight-bold">We want you to get the most affordable quality aluminum products</i>.</p>' %}
    {% include "components/content3.njk" %}  
    
    <!-- end section intro -->

    <!-- Testimonial -->
    {% include "components/testimonial.njk" %}

    <!-- End Testimonial -->


    <!-- Contact section -->
    {% set ctitle= 'Contact us' %}
    {% set subtitle='Affordable Quality.<br> Trusted Service' %}
    {% set showMap = true %}
     {% include "components/contactSection.njk" %}

    <!-- End contact section -->


