---json
    {
      "layout": "layouts/campaigns.njk",
      "title": "Insulated Roof Panels | American Aluminum Fabricators",
      "permalink": "campaigns/insulated-roof-panels/",
      "description": "Insulated roof panels consist of metal panels with steel skins and an insulating foam core that adds an energy efficient layer.  They are known for their thermal properties, design flexibility and quick installation time",
      "sitemapIgnore": "true"
    }
---
<div class="hero">
    {% set ctitle= 'Insulated Roof Panels installations and fabrication. Best Price guaranteed' %}
    {% set formTitle= 'Get in touch' %}
    {% set content='Improve your property with highly-insulated Roof Panels, an easy an affordabel solution for any residentail or commercial project.'%}
    {% set formSubtitle='Contact us to get a <br/> FREE ESTIMATE!' %}
    {% set featureImage='/assets/images/min/insulated-roof-panels-1.jpg' %}
    {% set featureImage2x='/assets/images/min/insulated-roof-panels-1@2x.jpg' %}
    {% include "components/hero-inner-campaign.njk" %}
</div>
  <article>
        <!-- Section Intro -->
        {% set class='col-10 col-md-8 d-flex flex-column mt-5 mx-auto' %}
        {% set ctitle= 'Insulated Roof Panels' %}
        {% set subtitle='Products' %}
        {% set body=products.content.insulatedRoofs.content %}
        {% include "components/content2.njk" %}
        <!-- end section intro -->
          <div class="container">
            <div class="col-12">
                <p class="my-5 text-center">
                    <a href="#estimateForm" class="btn btn-no-arrow btn-primary">Get in touch with us</a>
                </p>
            </div>
        </div>
        <!-- Benefits Intro -->
        {% set sectionClass='back-main-light py-4 mb-3' %}
        {% set class='col-10 col-md-8 d-flex flex-column  mt-0 mx-auto' %}
        {% set ctitle= 'Benefits of insulated roof panels' %}
        {% set titleTag= 'h2' %}
        {% set titleClass='headerTitle -medium' %}
        {% set subtitle=null %}
        {% set body=products.content.insulatedRoofs.content2 %}
        {% include "components/content2.njk" %}
        <!-- end section intro -->
          <div class="container">
            <div class="col-12">
                <p class="my-5 text-center">
                    <a href="#estimateForm" class="btn btn-no-arrow btn-primary">Get in touch with us</a>
                </p>
            </div>
        </div>
         <!-- Section Intro -->
        {% set sectionClass=null %}
        {% set class='col-10 col-md-8 d-flex flex-column  mt-0 mx-auto' %}
        {% set ctitle= 'Sizes and types of Insulated roof panels we offer' %}
        {% set titleTag= 'h2' %}
        {% set titleClass='headerTitle -medium' %}
        {% set subtitle=null %}
        {% set body=products.content.insulatedRoofs.content3 %}
        {% include "components/content2.njk" %}
        <!-- end section intro -->
    </article>

    <!-- Section Simple products -->
    {% set items=[
      { "src": "/assets/images/min/insulated-roof-panels-1.jpg"},
      { "src": "/assets/images/min/insulated-roof-panels-2.jpg"},
      { "src": "/assets/images/min/insulated-roof-panels-3.jpg"},
      { "src": "/assets/images/min/insulated-roof-panels-4.jpg"},
      { "src": "/assets/images/min/insulated-roof-panels-5.jpg"},
      { "src": "/assets/images/min/insulated-roof-panels-6.jpg"},
      { "src": "/assets/images/min/insulated-roof-panels-7.jpg"},
      { "src": "/assets/images/min/insulated-roof-panels-8.jpg"}
    ] %}
    {% set class='col-10 col-md-8 d-flex flex-column mt-5 mx-auto' %}
    {% set ctitle= 'Insulated Roof panels projects' %}
    {% set slides=items %}
    {% set titleHtag = 'h2' %}
    {% include "components/simple-carousel.njk" %}
    <!-- end section simple products -->

    <div class="container">
        <div class="col-12">
            <p class="my-5 text-center">
                <a href="#estimateForm" class="btn btn-no-arrow btn-primary">Get in touch with us</a>
            </p>
        </div>
    </div>


    <!-- Testimonial -->
    {% include "components/testimonial.njk" %}

    <!-- Event snippet for Submit lead form conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-782290617/Xmc6CMvWsuMBELmdg_UC',
          'event_callback': callback
      });
      return false;
    }
  </script>






