---
  layout: layouts/inner.njk
  title: Contact Us
  permalink: contact-us/
  eleventyNavigation:
    key: Contact Us
    order: 8
---
<section class="hero">
    {% set ctitle= 'Contact us' %}
    {% set featureImage='/assets/images/min/slider1.jpg' %}
    {% include "components/hero-inner.njk" %}
</section>



    <!-- Contact section -->
    {% set ctitle= 'Contact us' %}
    {% set subtitle='Affordable Quality.<br> Trusted Service' %}
    {% set formTitle= 'Send a Message' %}
    {% set formSubtitle='Get in touch' %}
    {% set hasForm= true %}
    {% set showMap = true %}
    {% include "components/contactSection.njk" %}

    <!-- End contact section -->


