---
  layout: layouts/inner.njk
  title: Financing options
  permalink: financing/
  eleventyNavigation:
    key: Financing
    order: 3
---
<section class="hero">
    {% set ctitle= 'Financing' %}
    {% set featureImage='/assets/images/min/slider1.jpg' %}
    {% include "components/hero-inner.njk" %}
</section>
   
      <!-- Section Financial -->
    {% set financial=financial.financial %}
    {% set products = financial %}
    {% set ctitle= 'Financial Institutions' %}
    {% set subtitle='Financing options' %}
    {% set class='' %}
    {% set titleHtag= 'h1' %}
    {% set subtitleHtag= 'p' %}
    {% include "components/cardsSection.njk" %}
    <!-- End section Financial -->
    
    <!-- Section Why us -->

    {% set ctitle= '“ Excellent Quality & Durable Products! ”' %}
    {% set subtitle='Why Choose our products' %}
    {% set class='back-main-light pt-6' %}
    {% set titleHtag = 'h3' %}
    {% set subtitleHtag = 'h2' %}
    {% include "components/whyus.njk" %}
    <!-- End section whyus -->


    <!-- Contact section -->
    {% set ctitle= 'Contact us' %}
    {% set subtitle='Affordable Quality.<br> Trusted Service' %}
     {% include "components/contactSection.njk" %}

    <!-- End contact section -->


