---
  layout: layouts/inner.njk
  title: Eleventy Template title
  permalink: financing/synchrony-home-improvement/
  eleventyNavigation:
    key: Synchrony Home Improvement
    parent: Financing
---
<section class="hero">
    {% set ctitle= 'Synchrony Home Improvement' %}
    {% set navPages = collections.all | eleventyNavigationBreadcrumb("Synchrony Home Improvement") %}
    {% set breadcrumbs=navPages %}
    {% include "components/hero-inner.njk" %}
</section>
    <!-- Section Intro -->
    {% set class='col-10 col-md-5 d-flex flex-column mx-auto' %}
    {% set ctitle= 'Aluminum & Impact Glass Experts' %}
    {% set subtitle='American Aluminum Fabricators' %}
    {% set body='<p class="mb-5">American Aluminum Fabricators Corp. provides you with exceptional service and high quality products to achieve your home improvement project. We take your idea and make it a reality whether for your home or business. We provide quality Accordion Hurricane Shutters, High Impact Windows and Doors, Railings and Decks, Patio Screens, Rain Gutters and Coming Soon Insulated Metal Roofs.r custom doors for a new project, a homeowner shopping for the best value in replacement doors.</p><p><a href="#" class="btn btn-primary">Know more</a></p>' %}
    {% include "components/content1.njk" %}  
    <!-- end section intro -->
    <!-- Section Products -->
    {% set products=[
      { 
        image: 'impact.jpg', 
        text: 'Impact Windows & Doors', 
        link: {text: 'Learn more', class: 'btn-link', href:'#'}
      },
      { 
        image: 'roof.jpg', 
        text: 'Metal Roofing', 
        link: {text: 'Learn more', class: 'btn-link', href:'#'}
      },
       { 
        image: 'pergola.jpg', 
        text: 'Aluminum Pergolas', 
        link: {text: 'Learn more', class: 'btn-link', href:'#'}
      },
      { 
        image: 'accordion.jpg', 
        text: 'Accordion Hurricane Shutters', 
        link: {text: 'Learn more', class: 'btn-link', href:'#'}
      },
       { 
        image: 'fence.jpg', 
        text: 'Fencing and Decking', 
        link: {text: 'Learn more', class: 'btn-link', href:'#'}
      },
      { 
        image: 'gutter.jpg', 
        text: 'Seamless rain gutters', 
        link: {text: 'Learn more', class: 'btn-link', href:'#'}
      }
    ] %}
    {% set ctitle= 'Explore our Aluminum and Glass Products' %}
    {% set subtitle='Our Products' %}
    {% set class='back-main-light pt-6' %}
    {% include "components/cardsSection.njk" %}
    <!-- End section Products -->
    
    <!-- Section Why us -->

    {% set ctitle= '“ Excellent Quality & Durable Products! ”' %}
    {% set subtitle='Why Choose our products' %}
    {% set class='back-main-light pt-6' %}
    {% include "components/whyus.njk" %}
    <!-- End section whyus -->

      <!-- Section Financial -->
        {% set financial=financial.financial %}
    {% set products = financial %}
    {% set ctitle= 'Financial Institutions' %}
    {% set subtitle='Financing options' %}
    {% set class='' %}
    {% include "components/cardsSection.njk" %}
    <!-- End section Financial -->



      <!-- Section blogs -->
    {% set blogs=[
      { 
        image: 'accordion-blog1.jpg', 
        text: 'Accordion Hurricane Shutter System Features and Benefits', 
        link: {text: 'Learn More', class: 'btn btn-transparent btn-second', href:'#'}
      },
      { 
        image: 'accordion-blog2.jpg', 
        text: 'Accordion Hurricane Shutter System Features and Benefits the second part', 
        link: {text: 'Learn More', class: 'btn btn-transparent btn-second', href:'#'}
      }
    ] %}
    {% set products = blogs %}
    {% set ctitle= 'Lastest Articles' %}
    {% set subtitle='Our blogs' %}
    {% set class='mt-5 back-main-light pt-6 py-6' %}
    {% include "components/blogItem.njk" %}
    <!-- End section blogs -->

    <!-- Testimonial -->
    {% include "components/testimonial.njk" %}

    <!-- End Testimonial -->


    <!-- Contact section -->
    {% set ctitle= 'Contact us' %}
    {% set subtitle='Affordable Quality.<br> Trusted Service' %}
     {% include "components/contactSection.njk" %}

    <!-- End contact section -->


