---
  layout: layouts/inner.njk
  title: Synchrony Home Improvement
  permalink: financing/synchrony-home-improvement/
  eleventyNavigation:
    key: Synchrony Home Improvement
    parent: Financing
---
<div class="hero">
    {% set ctitle= 'Synchrony Home Improvement' %}
    {% set navPages = collections.all | eleventyNavigationBreadcrumb("Synchrony Home Improvement") %}
    {% set breadcrumbs=navPages %}
    {% set featureImage='/assets/images/min/slider1.jpg' %}
    {% include "components/hero-inner.njk" %}
</div>
   

    <!-- Section Styled list -->
    <section class="mt-1">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-8 d-flex flex-column mt-5 mx-auto section-content1 mt-5">
                <div class="content-title mt-2 order-2">
                    <h1 class="headerTitle">Expand your purchasing power with Promotional Financing through Synchrony.</h1>
                </div>
            
                <div class="content-subtitle order-1">
                    <h2 class="headerSubtitle -decor-hoz -medium">Financing</h1>
                </div>
              


                <div class="content-body order-3">
                    <div class="bodyContent -dark">
                      <div style="width:100%;">
                        
                        <div style="padding-top:20px">
                        <div style="">Synchrony is one of the nation’s premier  consumer financial services companies. Our roots in consumer finance trace back to 1932, and today we are the largest provider of private label credit cards in the United States based on purchase volume and receivables.</div>
                        </div>
                        <div style="padding:20px 20px">
                        <div style="">
                        <ul style="margin:0px;padding:0px">
                        <li style="padding:3px 0px">A simple application process, and fast credit decisions</li>
                        <li style="padding:3px 0px">Unsecured, revolving credit lines</li>
                        <li style="padding:0px 0px 3px 0px">Promotional financing options<sup>1</sup></li>
                        <li style="padding:3px 0px">Convenient monthly payment options</li>
                        <li style="padding:3px 0px">Online account management</li>
                        </ul>
                        </div>
                        </div>
                        <div style="font-size:10px;line-height:12px;text-align:left"><sup>1</sup>Subject to credit approval. Minimum monthly payments required. See store for details.</div>
                        <div style="font-size:10px;line-height:12px;text-align:left">For all promotions: Qualifying purchase must be made with your Home Design credit card issued by Synchrony Bank and a $29 account activation fee will apply and be charged at the time first purchase posts to account. For new accounts: Purchase APR is 26.99%; Minimum Monthly Interest Charge is $2. Existing cardholders should see their credit card agreement for their applicable terms. Subject to credit approval.</div>
                        <div style="padding-top:20px">
                        <div align="left" valign="middle" style="float:left;">
                        <img src="https://toolbox.mysynchrony.com/images/SF_logo_goldcharcoal_transparent_rgb_250px.png" alt="Synchrony Apply Image" width="304" height="108" style="max-width:304px;max-height:108px">
                        </div>
                        <div align="left" style="float:right;margin-top:40px;">

                        <form name="0.1_eTailAppForm" action="https://etail.mysynchrony.com/eapply/eapply.action" method="post" target="_blank" onsubmit="try {return window.confirm(&quot;This form may not function properly due to certain security constraints.\nContinue?&quot;);} catch (e) {return false;}"> 
                        <input type="hidden" name="mid" value="5348121730682844">
                        <input type="hidden" name="pcgc" value="P100">
                        <input type="submit" value="Apply Online" style="background-color:#212471;border-radius:5px;color:#ffffff;font-family:Arial,sans-serif;font-size:16px;font-weight:bold;line-height:20px;padding:10px 15px;text-align:center">
                        </form>

                        </div>
                        <div style="clear:both"></div>
                        </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    
    

