---
  layout: layouts/default.njk
  title: Eleventy Template title
---
<div class="hero">
    
    {% set slides=[
      { 
        image: 'slide1.jpg', 
        headerTitle: 'The Aluminim Experts in Miami', 
        headerContent: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat',
        aside: {text: 'Know more', class: 'btn btn-primary', href:'#'}
      },
      { 
        image: 'slide2.jpg', 
        headerTitle: 'The Aluminim two Experts in Miami', 
        headerContent: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat',
        aside: {text: 'Know more', class: 'btn btn-primary', href:'#'}
      }
    ] %}
    {% set gradient=true %}
    {% include "components/carousel.njk" %}
</div>
<div class="container">
      {% include "components/content1.njk" %}
</div>
