---
  layout: layouts/inner.njk
  title: Eleventy Template title
  eleventyNavigation:
    key: Blog
    order: 6
---
<section class="hero">
    {% set ctitle= 'Blog' %}
    {% set featureImage='/assets/images/min/slider1.jpg' %}
    {% include "components/hero-inner.njk" %}
</section>
    
    <!-- Section blogs -->
    {% set ctitle= 'Latest Articles' %}
    {% set subtitle='Our blog' %}
    {% set class='py-6 pt-0' %}
    {% include "components/blogItem.njk" %}
    <!-- End section blogs -->
   


