---
  layout: layouts/inner-slick.njk
  title: Eleventy Template title
  permalink: products/fencing-and-decking/
  eleventyNavigation:
    key: Fencing and Decking
    parent: Products
    order: 5
---
<section class="hero">
    {% set ctitle= 'Fencing and Decking' %}
    {% set navPages = collections.all | eleventyNavigationBreadcrumb("Fencing and Decking") %}
    {% set breadcrumbs=navPages %}
    {% set featureImage='/assets/images/min/slider1.jpg' %}
    {% include "components/hero-inner.njk" %}
</section>
     <!-- Section Intro -->
    {% set class='col-10 col-md-8 d-flex flex-column mt-5 mx-auto' %}
    {% set ctitle= 'Fencing and Decking' %}
    {% set subtitle='Products' %}
    {% set body=products.content.fencing.content %}
    {% include "components/content2.njk" %}  
    <!-- end section intro -->

    <!-- Section product gallery -->
    {% set class='back-main-light mx-auto mt-4 py-5' %}
    {% set ctitle= 'Product Gallery' %}
    {% set subtitle='Products' %}
    {% set gallery=products.fencing.image %}
    {% include "components/gallery.njk" %}  
    <!-- End Section product gallery -->
    
    <!-- Section Why us -->
    {% set ctitle= '“ Excellent Quality & Durable Products! ”' %}
    {% set subtitle='Why Choose our products' %}
    {% set titleHtag = 'h2' %}
    {% set subtitleHtag = 'h3' %}
    {% set class='pt-6' %}
    {% include "components/whyus.njk" %}
    <!-- End section whyus -->

    <!-- Section Financial -->
    {% set financial=financial.financial %}
    {% set products = financial %}
    {% set ctitle= 'Financial Institutions' %}
    {% set subtitle='Financing options' %}
    {% set class='back-main-light pt-6 mt-0' %}
    {% include "components/cardsSection.njk" %}
    <!-- End section Financial -->

    <!-- Contact section -->
    {% set ctitle= 'Contact us' %}
    {% set subtitle='Affordable Quality.<br> Trusted Service' %}
    {% include "components/contactSection.njk" %}
    <!-- End contact section -->


