---
  layout: layouts/inner.njk
  title: Products
  priority: 0.9
  date: Last Modified
  eleventyNavigation:
    key: Products
    order: 1
---
<div class="hero">
    {% set ctitle= 'Products' %}
    {% set navPages = collections.all | eleventyNavigationBreadcrumb("Products") %}
    {% set breadcrumbs=navPages %}
    {% set featureImage='/assets/images/min/slider1.jpg' %}
    {% include "components/hero-inner.njk" %}
</div>
   
    <!-- Section Products -->
    {% set products= products.items %}
    {% set ctitle= 'Explore our Aluminum and Glass Products' %}
    {% set subtitle='Our Products' %}
    {% set class='' %}
    {% set titleHtag= 'h1' %}
    {% set subtitleHtag= 'p' %}
    {% include "components/cardsSection.njk" %}
    <!-- End section Products -->
    
    <!-- Section Why us -->
    {% set ctitle= '“ Excellent Quality & Durable Products! ”' %}
    {% set subtitle='Why Choose our products' %}
    {% set class='back-main-light pt-6' %}
    {% set titleHtag = 'h3' %}
    {% set subtitleHtag = 'h2' %}
    {% include "components/whyus.njk" %}
    <!-- End section whyus -->

    <!-- Section Financial -->
    {% set financial=financial.financial %}
    {% set products = financial %}
    {% set ctitle= 'Financial Institutions' %}
    {% set subtitle='Financing options' %}
    {% set class='' %}
    {% include "components/cardsSection.njk" %}
    <!-- End section Financial -->

    <!-- Testimonial -->
    {% include "components/testimonial.njk" %}

    <!-- End Testimonial -->

    <!-- Contact section -->
    {% set ctitle= 'Contact us' %}
    {% set subtitle='Affordable Quality.<br> Trusted Service' %}
    {% set showMap = true %}
     {% include "components/contactSection.njk" %}

    <!-- End contact section -->


